aio-pika==6.8.0
aiormq==3.3.1
amqp==5.0.6
appdirs==1.4.4
autopep8==1.5.7
billiard==3.6.4.0
black==21.7b0
celery==5.1.2
certifi==2021.5.30
charset-normalizer==2.0.3
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
docopt==0.6.2
fastapi==0.68.0
greenlet==1.1.1
idna==3.2
kombu==5.1.0
multidict==5.1.0
mypy-extensions==0.4.3
pamqp==2.3.0
pathspec==0.9.0
pika==1.2.0
prompt-toolkit==3.0.19
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pydantic==1.8.2
pytz==2021.1
regex==2021.7.6
requests==2.26.0
six==1.16.0
smart-open==5.1.0
SQLAlchemy==1.4.23
starlette==0.14.2
stomp.py==7.0.0
toml==0.10.2
tomli==1.0.4
typing-extensions==3.10.0.0
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
websockets==9.1
wget==3.2
yarl==1.6.3
